/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/04/2021, 07:35:42 PM
    Author     : juane
*/
body {
background-color: #3CB371;
margin: 70px;
border: 1px solid #4CAF50;
}